<div class="jumbotron text-center">
    <h1>{{title}}</h1>
    <p class="lead">Write about your day and save your memories digitally.</p>
    <a href="/dossiers/addDossier" class="btn btn-lg btn-dark">Add Dossier</a>
</div>
